/*-- scss:defaults --*/

// $primary: #Fe5c00 !default;
// $fg: #2b2121 !default;
// $bg: #ffffff !default;
$navbar-hl: #252525;
$navbar-fg: #Fe5c00;
$link-color: #Fe5c00;

/*-- scss:defaults --*/
/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$font-family-sans-serif: "Rubik", sans-serif !default;
$heading-font: "Roboto", sans-serif !default;

.navbar .navbar-nav>li>a {
    line-height: 50px;
    font-size: 20px;
    font-weight:bold;
}

.navbar .navbar-nav>.active>a {
    color: #252525;
}

.footer {
    font-size: 5px;
    padding: 0%;
}

.flipH {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.text-box {
  background-color: #252525; /* A light gray background */
  color: #ffffff; /* A dark gray text color */
  padding: 20px;
  border-radius: 0px;
  width: 710px; /* The box will be 50% of its parent's width */
  height: auto;
  font-family: Rubik;
  position: relative;
  top: 0px;   /* Positions the box 20px from the top of its parent */
  right: 0px;
  padding-bottom: 5px;
  margin-bottom: 100px;

}

.primary {
        color:#Fe5c00; /* Or any other color, like #007bff or rgb(0, 123, 255) */
}

.image-container {
  position: relative;

  /* Break out of Quarto container */
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  width: 100vw;
  height: 50vh;
  overflow: hidden;
  margin-top: -2vw;
  margin-bottom: 2vw;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Overlay */
.image-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(254, 92, 0, 0.5);
}

.overlay-text {
  position: absolute;
  bottom: 60px;
  left: 8%;
  z-index: 2;
  background: rgba(37, 37, 37, 0.85);
  color: white;
  padding: 25px 35px;
  border-radius: 8px;
  max-width: 600px;
}


.card {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


